.my-events {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 120px;
    background: linear-gradient(180deg, #FBFBF1 0%, #F8F9E1 70%, #F9F3D1 90%);
    width: 100%;



    .left-side {
        display: flex;
        flex-direction: column;
        margin-right: 150px;
    }

    .page-title {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 100px;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .calendar {
        position: relative;
        width: 400px;
        height: 400px;
        box-sizing: border-box;
        box-shadow: 0 5px 50px rgba(#000, 0.5);
        border-radius: 8px;
        overflow: hidden;

    }

}

.calendar-title {
    position: relative;
    padding: 10px;
    box-sizing: border-box;


    h2 {
        margin: 0;
    }

    h3 {
        margin: 0;
        font-weight: 500;
        text-align: center;
    }
}

.calendar-date {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
    margin-right: 10px;

    &:nth-child(7) {
        color: #17A1FA;
    }

    &:nth-child(6) {
        color: #17A1FA;
    }
}

.calendar-number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #161616;
    cursor: pointer;
    width: 24px;
    height: 24px;
    font-size: 11px;



    &:nth-child(7n) {
        color: #17A1FA;
    }

    &:nth-child(7n-1) {
        color: #17A1FA;
    }


    &--current,
    &:hover {
        background-color: #009688;
        color: #fff !important;
        font-weight: 700;
        cursor: pointer;
    }
}

.another-month-number {
    color: #616161 !important;
}

.event-number {
    background-color: #b7c9e2;
    border-radius: 50%;
    margin: 5px;
}

.event-number-selected {
        background-color: #EFE1BC;
        color: #9D4536 !important;
        font-weight: bold;
        border-radius: 50%;
      }
      


.event-number-possible {
    background-color: #b7c9e2;
}


.event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}


.event-conatiner .event-list {
    display: flex;
    flex-direction: column;
}


.event-main-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.events-list .event-item {
    width: 490px;
    background-color: #EFE1BC;
    margin: 20px;
    padding: 18px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9D4536;
}


.events-list .event-item .event-title {
    font-size: 15px;
    margin-left: 10px;
}

.events-list .event-item .event-item-details {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;

    img {
        margin-left: 50px;
        cursor: pointer;
    }
}

.events-list .event-item-displayed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events-list .event-item-hidden {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    display: none;
}

.events-list .event-item-hidden .image {
    width: 300px;
    height: 190px;
    background-color: #D9D9D9;
    border-radius: 23px;
}

.location {
    color: #9D4536;
    margin-left: 60px;
}



.events-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 100vh;
    padding-bottom: 900px;
    .event-card {
        width: 306px;
        height: 338px;
        border: 1px solid #0000001A;
        box-shadow: 0px 4px 4px 0px #00000040;
        margin: 50px;
    }

    .event-card-header {
        height: 221px;
        background-color: #0000000D;
    }

    .event-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
    }

    .event-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .event-location {
        font-size: 12px;
        margin-bottom: 10px;
    }
}


.title {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 140%;
    color: #031749;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.right-side {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    padding: 20px;
    z-index: 1000;
    z-index: 1; 
}
.titlu-si-filtre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .buton-filtru {
    position: relative;
    background-color: #9D4536;
    color: #FFFDFB;
    border: none;
    padding: 12px 18px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(108, 19, 19, 0.2);
  }
  
  .buton-filtru:hover {
    background-color: #D9C5B2;
    color: #9D4536;
  }
  
  .panou-filtre {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #F5EDE6;
    box-shadow: -2px 0 6px rgba(116, 52, 52, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
  }
  .dropdown .content {
    display: block; 
    position: absolute; 
    top: 100%;
    left: 0;
    background-color: #F5EDE6; 
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 9999; 
    width: 300px; 
}

.container-mare {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #f7e4c1;
    padding: 20px 0;
    
  }
  
  .carusel-evenimente-spt-container {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .carusel-evenimente-spt-title {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
  }
  
  .carusel-evenimente-spt {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carusel-evenimente-spt-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carusel-evenimente-spt-item {
    min-width: 25%;
    text-align: left;
    padding: 15px;
  }
  
  .carusel-evenimente-spt-item img {
    width: 100%;
    height: auto;
  }
  
  .carusel-evenimente-spt-item h5 {
    margin-top: 10px;
    font-size: 1rem;
    color: #222;
  }
  
  .carusel-evenimente-spt-item p {
    font-size: 0.9rem;
    color: #555;
    margin: 0 0 10px;
  }
  
  .carusel-evenimente-spt-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: #222;
    cursor: pointer;
    z-index: 10;
  }
  
  .carusel-evenimente-spt-control-prev {
    left: -20px;
  }
  
  .carusel-evenimente-spt-control-next {
    right: -20px;
  }
  