* {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  }

/* favorite */
.sectiune-favorite {
   
  margin-left: 150px;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 70px;
    
  }

  .sectiune-favorite h2 {
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: 30px;
    margin-left: 30px;
  }

  .card {
    display: inline-block;
    width: 250px;
    height: 300px;
    margin: 30px 30px 30px;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 4px 8px #e5c3bc;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .imagine-placeholder {
    background-color: #e0e0e0;
    padding: 40px 0;
    color: #888;
    height: 200px;
  }

  .info-card {
    padding: 10px;
  }

  .titlu-eveniment {
    font-weight: bold;
    margin-bottom: 6px;
    justify-self: start;
  }

  .locatie-eveniment {
    color: #666;
    margin-bottom: 10px;
    justify-self: start;
  }

  .iconite {
    display: flex;
    justify-content: start;
    gap: 8px;
   
  }

  .buton-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    padding: 0;
    color:#973c2c;
  }

  .icon-galben {
    color: #FFC107; 
  }
  
  .icon-contur {
    color: #FFC107; 
    opacity: 0.5; 
  }
  .buton-icon:focus {
    outline: none;
  }
  

/* Evenimente */
.container-mare {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #f7e4c1;
  padding: 20px 0;
  
}

.carusel-evenimente-spt-container {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carusel-evenimente-spt-title {
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;
}

.carusel-evenimente-spt {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carusel-evenimente-spt-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carusel-evenimente-spt-item {
  min-width: 25%;
  text-align: left;
  padding: 15px;
}

.carusel-evenimente-spt-item img {
  width: 100%;
  height: auto;
}

.carusel-evenimente-spt-item h5 {
  margin-top: 10px;
  font-size: 1rem;
  color: #222;
}

.carusel-evenimente-spt-item p {
  font-size: 0.9rem;
  color: #555;
  margin: 0 0 10px;
}

.carusel-evenimente-spt-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  color: #222;
  cursor: pointer;
  z-index: 10;
}

.carusel-evenimente-spt-control-prev {
  left: -20px;
}

.carusel-evenimente-spt-control-next {
  right: -20px;
}
